<footer class="bg-black text-light p-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="ft-banner text-center">
          <img src="https://i.postimg.cc/521bW22Y/output-onlinepngtools.png" alt="" style="height: auto; max-width: 226px;">
          <div class="quote h-75 d-flex align-items-center justify-content-center">
            <i>The customer is at the heart of our unique business model.</i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 ">
        <div class="categories text-center">
          <h3>Category</h3>
          <div class="opt-category">
            <ul class="list-unstyled row">
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Casuals</a></li>
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Formals</a></li>
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Running</a></li>
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Boots</a></li>
            </ul>
            <ul class="list-unstyled row">
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Sandals</a></li>
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Loafers</a></li>
              <li class="col-6"><a href="/displayCategory?id=All" class="btn">Hiking Boots</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="help text-center">
          <h3 class="pb-4">Contact</h3>
          <div class="help-msg">
            <p>For queries contact us:<br>soleseeker12345@gmail.com, Sole-Seeker Limited<br>HustleHub Techpark,
              Somasundara palaya, Bangalore,Karnataka ,
              India</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- footer section -->
<footer class="footer_section mt-3 ">
  <div class="container m-0">
    <p style="font-weight: 700;">
      &copy; <span id="displayYear"></span> All Rights Reserved By
      <a href="https://html.design/">SoleSeekers</a>
    </p>
  </div>
</footer>
<!-- footer section -->