body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FEFFE0 ;
}
.custom-container-fluid {
  padding-right: 0;
  padding-left: 0;
  
}
.reg-head{
  font-weight:700;
}
.verify-head{
  font-weight:700;
  text-align: left;
}

.curved{
  border-radius: 14px;
  font-size: 0.8rem;
  line-height: 2;
  letter-spacing: 2px;
 
}
/* ========================================================= */
.white-black {
  background-color: #262626;
  color: #FFFFFF;

}
.white-black:focus{
  background-color: #ecc8c8;
  color: #000000;
}
.white-black::placeholder{
  color: #ffffff;
  padding-left: 10px;
}
.white-black:focus::placeholder {
  color: #000000;
}
/* ============================================================= */
.btn-blue{
  background-color: #0423C8;
  color: #FFFFFF;
}
.btn-red{
  background-color: #E00041;
  color: #FFFFFF;
}
.btn-green{
  background-color: #00964E;
  color: #FFFFFF;
}
.btn-blue:hover{
 border-color: #000000;
}
.btn-red:hover{
border-color: #000000;
}
.btn-green:hover{
border-color: #000000;
}

.labels{
  font-size: 1rem;
  margin-left: 10%;
  font-weight: 700;  
}
.labels-verify{
  font-size: 1rem;
  margin-left: -2%;
  font-weight: 700;  
}
.error{
    font-size: 1rem;
    margin-left: 10%;
    font-weight: 700;
    color: crimson;
}
.errorA{
    font-size: 1rem;
    margin-left: 1%;
    font-weight: 700;
    color: crimson;
}

.btn-blue:disabled{
  background-color: #010b41;
  color: #FFFFFF;
}

a {
  color: #00B7FF;
}








/* ================media queries */
/* CSS for screens larger than or equal to medium (md) size */
@media (min-width: 1400px) {

  /* Display the image box on medium-sized screens and larger */
 
  
}

@media (min-width: 1200px) and (max-width: 1399px){
  .image-box {
      height: 519px;

    }
}
@media (min-width: 992px) and (max-width: 1200px){
  .image-box {
      height: 519px;

    }
}
@media (min-width: 768px) and (max-width: 992px){
  .signin-box {
      position: relative;
      left: 20px;
    }
}

/* CSS for screens smaller than medium (md) size */
@media (max-width: 992px) {

  /* Hide the image box on small screens */
  .image-box {
    display: none;
  }
  .signin-box{
    width: 524px;
    height: 513px;
  }
  .container-custom{
   display: block
  }

}









/* -==================admin section======================== */


.admin-nav{
  background-color: #262626;
  padding: 0.5%;
  border-radius: 18px;
}
.navbar-nav .nav-link:hover {

  color: #E00041 !important;
}

.logout-btn{
  padding: 0.4%;
  margin-right: 0.3%;
}

.logout-btn:hover{
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.product-image-admin{
      max-width: 5rem;
      max-height: 5rem;
      width: auto;
      height: auto;
    }
