<%-include('../layouts/header')%>

<div class="container-fluid custom-container-fluid">
  <header class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Your header content here -->
    </nav>
  </header>

  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-6">
          <form onsubmit="loginValidate()" action="/otp" method="post">
            <div class="text-center">
              <h1 class="font-weight-bold">Login with OTP</h1>
            </div>

            <!-- Mobile input -->
            <div class="form-group">
              <input type="mobile" id="mobile" name="mobile" maxlength="10"
                class="form-control border-dark white-black curved mx-auto" value="" placeholder="Mobile Number" required/>
              <div class="error text-center" id="mobileErr"></div>
            </div>

            <!-- Forget Password link -->
            <div class="text-center mt-3">
              <h6>Forget your Password? <a href="/forgotPassword">Click here</a></h6>
            </div>

            <!-- Submit button -->
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-block btn-primary border-dark curved" style="width: 40%;">Send OTP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<%-include('../layouts/footer')%>
