<%-include('../layouts/header')%>

<div class="container-fluid custom-container-fluid">
  <header class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Centered Logo -->
        <a class="navbar-brand mx-auto" href="/">
          <img src="https://i.postimg.cc/BZNcVBfb/logo-test.png" style="max-width: 15rem;" alt="Logo">
        </a>
      </div>
    </nav>
  </header>

  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-75">
        <div class="col-md-6">
          <div class=" border border-dark p-5 rounded">
            <h1 class="pb-3 text-left reg-head">Login with OTP</h1>

            <!-- Mobile input -->
            <form action="/otp" onsubmit="return validateMobile()"  id="signinFormOTP" method="post">
              <div class="form-group mb-4">
                <input type="mobile" id="mobile" name="mobile" maxlength="10"
                  class="form-control border-dark white-black curved mx-auto" value="" placeholder="Mobile Number" style="width: 80%">
                <div class="error " id="mobileErr"></div>
              </div>
               <h5 class="text-danger text-center"><%= message %></h5>
              <!-- Forget Password link -->
              <div class="text-center mt-3">
                <h6 class="labels">Forget your Password? <a href="/forgotPassword">Click here</a></h6>
              </div>

              <!-- Submit button -->
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-block btn-blue border-dark curved" style="width: 40%;">Send OTP</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
const signinFormOTP = document.getElementById('signinFormOTP');

signinFormOTP.addEventListener('submit', function (event) {
  event.preventDefault();
  const isValid = validateMobile();

  if (!isValid) {
    return false;
  } else {
    signinFormOTP.submit();
  }
});</script>
<%-include('../layouts/footer')%>
